<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/home">
    <%- include('partials/head')%>
</head>
<body>
<header>
    <%- include('partials/navbar') %>
</header>

<div class="container d-flex justify-content-center">
    <div class="row row-cols-3 g-4" style="max-width: 900px;">

        <!-- Card 1 -->
        <div class="col">
            <div class="card h-100">
                <img src="/images/strawberry.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Fresh Food</h5>
                    <p class="card-text">Food insecurity affects 34% of residents, 66% of farmworkers, and 33% of children.</p>
                    <form action = "/search">
                        <button class="btn btn-primary mt-auto">Go</button>
                        <input type=hidden name="item" value="Food">
                    </form>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col">
            <div class="card h-100">
                <img src="/images/recycle.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Recycling</h5>
                    <p class="card-text">Monterey consistently ranks among California communities with notably high recycling and composting rates for its size.</p>
                    <form action = "/search">
                        <button class="btn btn-primary mt-auto">Go</button>
                        <input type=hidden name="item" value="Recycling">
                    </form>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col">
            <div class="card h-100">
                <img src="/images/mont.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Monterey</h5>
                    <p class="card-text">The Monterey County region is one of the most productive agricultural areas in the United States, often called “America’s Salad Bowl” because it grows a large share of the nation’s lettuce, strawberries, and other fresh produce.</p>
                    <form action = "https://en.wikipedia.org/wiki/Monterey,_California">
                        <input name="city" value="Monterey" type="hidden">
                        <button class="btn btn-primary mt-auto">Go</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col">
            <div class="card h-100">
                <img src="/images/bed.webp" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Shelter</h5>
                    <p class="card-text">Monterey County has more homeless students than San Francisco and San Jose combined.</p>
                    <form action = "/search">
                        <button class="btn btn-primary mt-auto">Go</button>
                        <input type=hidden name="item" value="Shelter">
                    </form>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col">
            <div class="card h-100">
                <img src="/images/Can.webp" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Canned Food</h5>
                    <p class="card-text">Canned food can last for years without spoiling, making it one of the most reliable ways to store and distribute food during shortages or emergencies.</p>
                    <form action="/search">
                        <button class="btn btn-primary mt-auto">Go</button>
                        <input type=hidden name="item" value="Food">
                    </form>
                </div>
            </div>
        </div>

        <!-- Card 6 -->
        <div class="col">
            <div class="card h-100">
                <img src="/images/CSUMB.webp" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">College Resources</h5>
                    <p class="card-text">41% of CSUMB students face food insecurity.</p>
                    <form action = "/search">
                        <button class="btn btn-primary mt-auto">Go</button>
                        <input type=hidden name="item" value="Food">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>